In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 创建一维数组

In [4]:
s1=np.random.normal(0,1,10)

In [5]:
s2=pd.Series(s1,index=[i for i in range(1,11)],dtype=float)
s2

1    -0.697313
2    -0.895455
3    -0.919660
4    -0.792514
5    -0.142006
6    -0.046658
7    -1.465059
8    -0.698675
9    -0.044799
10    0.246938
dtype: float64

In [6]:
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates=pd.date_range("20200303",periods=6)
dates

DatetimeIndex(['2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08'],
              dtype='datetime64[ns]', freq='D')

# 创建二维数组

In [8]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2020-03-03  1.166707 -0.058727  0.045211 -0.634713
2020-03-04  1.038912  0.190042 -1.472594 -1.490132
2020-03-05 -0.834876  0.897361  2.544384  0.222154
2020-03-06 -1.041942  0.614252  0.515827  1.241736
2020-03-07  0.079058  0.674291 -0.542024  0.188240
2020-03-08  1.566767 -0.458950 -1.515723  1.435531

In [9]:
achor={"余小C":"声微饭否，无情铁手","大司马":"鬼刀一开，走位走位","智勋":"魔教中人，凉快点的"}

In [10]:
hero={"余小C":"诺手","大司马":"酒桶","智勋":"男刀"}

In [11]:
a=pd.Series(achor)
h=pd.Series(hero)
df2=pd.DataFrame({"下饭英雄":h,"经典语录":a})
df2

    下饭英雄       经典语录
余小C   诺手  声微饭否，无情铁手
大司马   酒桶  鬼刀一开，走位走位
智勋    男刀  魔教中人，凉快点的

In [12]:
df1=pd.DataFrame([hero,achor])
df1

         余小C        大司马         智勋
0         诺手         酒桶         男刀
1  声微饭否，无情铁手  鬼刀一开，走位走位  魔教中人，凉快点的

In [13]:
df.values

array([[ 1.16670678, -0.05872654,  0.0452106 , -0.63471282],
       [ 1.03891163,  0.19004215, -1.47259362, -1.49013158],
       [-0.83487607,  0.89736064,  2.5443839 ,  0.2221542 ],
       [-1.04194219,  0.61425226,  0.51582738,  1.24173616],
       [ 0.07905839,  0.67429087, -0.54202402,  0.18824017],
       [ 1.566767  , -0.45895023, -1.51572344,  1.43553117]])

In [14]:
df2.index

Index(['余小C', '大司马', '智勋'], dtype='object')

In [15]:
df2.shape

(3, 2)

In [16]:
df2.size

6

In [17]:
df2.columns

Index(['下饭英雄', '经典语录'], dtype='object')

In [18]:
data=df2["经典语录"]
data

余小C    声微饭否，无情铁手
大司马    鬼刀一开，走位走位
智勋     魔教中人，凉快点的
Name: 经典语录, dtype: object

In [19]:
print(type(data))

<class 'pandas.core.series.Series'>

In [20]:
df2.loc["大司马"]

下饭英雄           酒桶
经典语录    鬼刀一开，走位走位
Name: 大司马, dtype: object

In [21]:
df2.iloc[[1,2]]

    下饭英雄       经典语录
大司马   酒桶  鬼刀一开，走位走位
智勋    男刀  魔教中人，凉快点的

In [22]:
df3=pd.DataFrame({"year":pd.Series({"one":1999,"two":2003,"three":2019}),"month":pd.Series({"one":2,"two":4,"three":6})})
df3

       year  month
one    1999      2
two    2003      4
three  2019      6

In [23]:
date2=pd.date_range(start="2020-01-01",periods=6)
df4=pd.DataFrame(np.random.randn(6,4),index=date2,columns=list("ABCD"))
df4

                   A         B         C         D
2020-01-01 -0.654476  1.715328  0.978471  3.206760
2020-01-02 -0.109865  0.984586  0.832589  0.024455
2020-01-03  1.098438  0.134989 -0.444611 -0.316184
2020-01-04  0.055342 -0.830446 -0.642400  1.343104
2020-01-05  0.495378  2.216288 -0.846508 -0.162827
2020-01-06 -1.025365  1.063940  0.103560  0.935736

In [24]:
print(df4.loc["2020-01-02","B"])
print(df4.loc["2020-01-02"]["B"])

0.9845855600311603
0.9845855600311603

In [25]:
print(df4.iloc[1,1])

0.9845855600311603

In [26]:
print(df4["B"]["2020-01-02"])

0.9845855600311603

In [27]:
print(df4.values[1,1])

0.9845855600311603

In [28]:
print(df4.iat[1,1])

0.9845855600311603

In [39]:
df4.loc["2020-01-03":"2020-01-05",["B","D"]]

                   B         D
2020-01-03  0.134989 -0.316184
2020-01-04 -0.830446  1.343104
2020-01-05  2.216288 -0.162827

In [40]:
df4.iloc[[1,4],[1,3]]

                   B         D
2020-01-02  0.984586  0.024455
2020-01-05  2.216288 -0.162827

In [41]:
df4["E"]=pd.Series({"2020-01-01":1,"2020-01-02":1,"2020-01-03":2,"2020-01-04":3,"2020-01-05":4,"2020-01-06":3})

In [54]:
df4[df4["E"].isin([1,3])]

                   A         B         C         D  E
2020-01-01 -0.654476  1.715328  0.978471  3.206760  1
2020-01-02 -0.109865  0.984586  0.832589  0.024455  1
2020-01-04  0.055342 -0.830446 -0.642400  1.343104  3
2020-01-06 -1.025365  1.063940  0.103560  0.935736  3

In [9]:
X=pd.DataFrame(np.arange(1,10).reshape(3,3))

In [10]:
Y=pd.DataFrame(np.arange(5,14).reshape(3,3))

In [11]:
X.dot(Y)

     0    1    2
0   54   60   66
1  126  141  156
2  198  222  246

In [12]:
X*Y

    0   1    2
0   5  12   21
1  32  45   60
2  77  96  117

In [ ]:
# df5=pd.DataFrame{"b":[1,3,2,2],"a":[4,3,3,1]}

# 归一化

In [ ]:
def normalization(x):
    return ((x-np.mean(x,axis=0))/(np.max(x,axis=0)-np.min(x,axis=0)))

In [ ]:
test=np.arange(1,91).reshape(30,3)
normalization(test)

In [ ]:
def normalization(x):
    return ((x-np.mean(x,axis=0))/(np.std(x,axis=0)))